Django==1.5.1
Pillow==2.0.0
South==0.8.1
dj-database-url==0.2.1
django-geoposition==0.1.4
django-model-utils==1.4.0
git+git://github.com/nox-app/django-tastypie.git
mimeparse==0.1.3
psycopg2==2.5
python-dateutil==2.1
six==1.3.0
wsgiref==0.1.2
